{% extends "layout.html" %}
{% block content %}
<table class = 'fl-table'>
    <thead>
        <tr>
            <th>Question</th>
            <th>Answer</th>
            <th>Value</th>
            <th>Airdate</th>
        </tr>
    </thead>
    <tbody>
        {% for clue in clues %}
        <tr>
            <td>{{ clue.question }}</td>
            <td>{{ clue.answer }}</td>
            <td>{{ clue.value }}</td>
            <td>{{ clue.airdate }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<br>

{% if form.errors %}
{{ form.errors }}
{% endif %} 

<form method = 'POST' action="">
    {{form.hidden_tag()}}

    <a>Filter:</a>
    <br>
    {{form.value_dropdown(class="btn btn-secondary dropdown-toggle")}}
    <div style='float: right;'>
        {{form.submit(class="hvr-grow")}} 
    </div>
</form>
    
{% endblock content %}
