{% extends "layout.html" %}
{% block content %}
    <h1>Search for a Category</h1>

    <form method="POST" action="">
        {{ form.hidden_tag() }}

        <!-- Used for Debugging
        {% if form.errors %}
        {{ form.errors }}
        {% endif %} -->
        

        
        <fieldset>
            <div class="form-group">
                
                {{ form.category.label(class="form-control-label") }}
                {{ form.category(class="form-control form-control-lg") }}
            </div>
        </fieldset>

        <div>
            {{ form.submit(class="hvr-grow") }}
        </div>
    </form>
    
{% endblock content %}

